# FUN With CSV Files

In [2]:
import unicodecsv
import pprint
import csv

In [3]:
csv_file_name="enrollments.csv"

## Json Import of csv file

#### Import data in json formate, All data are imported as string

In [16]:
enrolment = []

f=open(csv_file_name,'rb')

reader =unicodecsv.DictReader(f)
#reader is a itterater so loop is possible only once
print "type(reader) =",reader

#for each_row in reader:
#    enrolment.append(each_row)
enrolment=list(reader) #shorthand for above two line

#close file
f.close()

print "Total no of row : ",len(enrolment),"\n\n"

#print demo data
pprint.pprint(enrolment[1])

type(reader) = <unicodecsv.py2.DictReader instance at 0x04A10A08>
Total no of row :  1640


{u'account_key': u'448',
 u'cancel_date': u'2014-11-10',
 u'days_to_cancel': u'5',
 u'is_canceled': u'True',
 u'is_udacity': u'True',
 u'join_date': u'2014-11-05',
 u'status': u'canceled'}

## Simple import

In [23]:
data = []
with open(csv_file_name, 'rb') as csvfile:
    reader = csv.reader(csvfile, delimiter=' ', quotechar='|')
    for row in reader:
        data.append(row)

print "Headings :",(data[0])
print"Data :",(data[1])

Headings : ['account_key,status,join_date,cancel_date,days_to_cancel,is_udacity,is_canceled']
Data : ['448,canceled,2014-11-10,2015-01-14,65,True,True']

## Using Pandas ( Very fast than above two)

In [4]:
import pandas as pd

In [7]:
enrol = pd.read_csv(csv_file_name)

In [10]:
enrol

,account_key,status,join_date,cancel_date,days_to_cancel,is_udacity,is_canceled
0,448,canceled,2014-11-10,2015-01-14,65,True,True
1,448,canceled,2014-11-05,2014-11-10,5,True,True
2,448,canceled,2015-01-27,2015-01-27,0,True,True
3,448,canceled,2014-11-10,2014-11-10,0,True,True
4,448,current,2015-03-10,NaN,NaN,True,False
5,448,canceled,2015-01-14,2015-01-27,13,True,True
6,448,canceled,2015-01-27,2015-03-10,42,True,True
7,448,canceled,2015-01-27,2015-01-27,0,True,True
8,448,canceled,2015-01-27,2015-01-27,0,True,True
9,700,canceled,2014-11-10,2014-11-16,6,False,True
10,429,canceled,2014-11-10,2015-03-10,120,False,True
11,429,canceled,2015-03-10,2015-06-17,99,False,True
12,60,canceled,2014-11-10,2015-01-14,65,False,True
13,60,canceled,2015-01-14,2015-04-01,77,False,True
14,60,current,2015-04-01,NaN,NaN,False,False
15,1300,canceled,2014-11-10,2014-11-16,6,False,True
16,369,current,2014-11-10,NaN,NaN,False,False
17,322,canceled,2014-11-10,2015-02-02,84,False,True
18,322,canceled,2015-02-12,2015-02-12,0,False,True
19,322,canceled,2015-02-12,2015-03-10,26,False,True
20,322,current,2015-03-10,NaN,NaN,False,False
21,336,current,2014-11-10,NaN,NaN,False,False
22,553,current,2014-11-10,NaN,NaN,False,False
23,584,canceled,2014-11-10,2015-01-14,65,False,True
24,584,canceled,2015-01-14,2015-03-10,55,False,True
25,584,current,2015-03-10,NaN,NaN,False,False
26,1006,canceled,2014-11-10,2014-11-17,7,False,True
27,458,canceled,2014-11-10,2015-04-01,142,False,True
28,458,canceled,2015-04-04,2015-04-06,2,False,True
29,458,current,2015-04-06,NaN,NaN,False,False
...,...,...,...,...,...,...,...
1610,414,current,2015-06-07,NaN,NaN,False,False
1611,226,current,2015-06-08,NaN,NaN,False,False
1612,2,current,2015-06-08,NaN,NaN,False,False
1613,1241,canceled,2015-06-09,2015-06-09,0,False,True
1614,1187,canceled,2015-06-09,2015-06-15,6,False,True
1615,1274,current,2015-07-08,NaN,NaN,False,False
1616,218,current,2015-07-08,NaN,NaN,False,False
1617,324,current,2015-07-09,NaN,NaN,False,False
1618,891,canceled,2015-07-09,2015-07-15,6,False,True
1619,1000,current,2015-07-11,NaN,NaN,False,False
1620,973,current,2015-07-13,NaN,NaN,False,False
1621,806,current,2015-07-15,NaN,NaN,False,False
1622,1178,canceled,2015-07-16,2015-08-07,22,False,True
1623,832,current,2015-07-16,NaN,NaN,False,False
1624,1232,canceled,2015-07-16,2015-07-17,1,False,True
1625,1057,canceled,2015-07-17,2015-07-21,4,False,True
1626,689,current,2015-07-17,NaN,NaN,False,False
1627,1278,current,2015-07-17,NaN,NaN,False,False
1628,1272,canceled,2015-07-17,2015-07-23,6,False,True
1629,438,current,2015-07-17,NaN,NaN,False,False
1630,992,current,2015-07-17,NaN,NaN,False,False
1631,575,current,2015-07-17,NaN,NaN,False,False
1632,807,canceled,2015-07-20,2015-07-22,2,False,True
1633,1298,current,2015-08-11,NaN,NaN,False,False
1634,751,current,2015-08-11,NaN,NaN,False,False
1635,1176,current,2015-08-12,NaN,NaN,False,False
1636,1110,current,2015-08-13,NaN,NaN,False,False
1637,1116,canceled,2015-08-15,2015-08-18,3,False,True
1638,874,current,2015-08-22,NaN,NaN,False,False
1639,686,current,2015-08-23,NaN,NaN,False,False

In [11]:
len(enrol["account_key"].unique()) #unique account keys

1302